body {
    background-color: #a8dadc;
}

h1{
    color: #1d3557;
}

h2, h3 {
    color: #e63946;
}

label, input, textarea {
    color: #1d3557;
}

label {
    font-weight: 500;
}

.border-bottom{
    border-bottom-color: #e63946 !important;
    border-bottom-width: 2px !important;
}